templates/UAT.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2 (branches/2.2-7015; 2012-02-20T20:31:25+0000) JAXWS-RI/2.2.6 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2 (branches/2.2-7015; 2012-02-20T20:31:25+0000) JAXWS-RI/2.2.6 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="www.opengi.co.uk" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="www.opengi.co.uk" name="OpenInterchange">
<types>
<xsd:schema>
<xsd:import namespace="www.opengi.co.uk" schemaLocation="https://openinterchange.openecommerce.co.uk:443/OpenInterchange/OpenInterchange?xsd=1"/>
</xsd:schema>
</types>
<message name="getMessages">
<part name="parameters" element="tns:getMessages"/>
</message>
<message name="getMessagesResponse">
<part name="parameters" element="tns:getMessagesResponse"/>
</message>
<message name="returnResponse">
<part name="parameters" element="tns:returnResponse"/>
</message>
<message name="returnResponseResponse">
<part name="parameters" element="tns:returnResponseResponse"/>
</message>
<message name="inStreamMessage">
<part name="parameters" element="tns:inStreamMessage"/>
</message>
<message name="inStreamMessageResponse">
<part name="parameters" element="tns:inStreamMessageResponse"/>
</message>
<message name="xStreamMessage">
<part name="parameters" element="tns:xStreamMessage"/>
</message>
<message name="xStreamMessageResponse">
<part name="parameters" element="tns:xStreamMessageResponse"/>
</message>
<message name="processMessage">
<part name="parameters" element="tns:processMessage"/>
</message>
<message name="processMessageResponse">
<part name="parameters" element="tns:processMessageResponse"/>
</message>
<portType name="OpenInterchange">
<operation name="getMessages">
<input wsam:Action="www.opengi.co.uk/OpenInterchange/getMessagesRequest" message="tns:getMessages"/>
<output wsam:Action="www.opengi.co.uk/OpenInterchange/getMessagesResponse" message="tns:getMessagesResponse"/>
</operation>
<operation name="returnResponse">
<input wsam:Action="www.opengi.co.uk/OpenInterchange/returnResponseRequest" message="tns:returnResponse"/>
<output wsam:Action="www.opengi.co.uk/OpenInterchange/returnResponseResponse" message="tns:returnResponseResponse"/>
</operation>
<operation name="inStreamMessage">
<input wsam:Action="www.opengi.co.uk/OpenInterchange/inStreamMessageRequest" message="tns:inStreamMessage"/>
<output wsam:Action="www.opengi.co.uk/OpenInterchange/inStreamMessageResponse" message="tns:inStreamMessageResponse"/>
</operation>
<operation name="xStreamMessage">
<input wsam:Action="www.opengi.co.uk/OpenInterchange/xStreamMessageRequest" message="tns:xStreamMessage"/>
<output wsam:Action="www.opengi.co.uk/OpenInterchange/xStreamMessageResponse" message="tns:xStreamMessageResponse"/>
</operation>
<operation name="processMessage">
<input wsam:Action="www.opengi.co.uk/OpenInterchange/processMessageRequest" message="tns:processMessage"/>
<output wsam:Action="www.opengi.co.uk/OpenInterchange/processMessageResponse" message="tns:processMessageResponse"/>
</operation>
</portType>
<binding name="OpenInterchangePortBinding" type="tns:OpenInterchange">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getMessages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="returnResponse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inStreamMessage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="xStreamMessage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="processMessage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="OpenInterchange">
<port name="OpenInterchangePort" binding="tns:OpenInterchangePortBinding">
<soap:address location="https://openinterchange.openecommerce.co.uk:443/OpenInterchange/OpenInterchange"/>
</port>
</service>
</definitions>